[user]
	name = Mitchell Solomon
	email = msolomonqwerty@gmail.com
[core]
	editor = code
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	ignorecase = false
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto