[user]
	name = Mitchell Solomon
	email = msolomon@actengage.com
[core]
	editor = code
	excludesfile = /Users/mitchellsolomon/.gitignore
	attributesfile = ~/.gitattributes
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto