[user]
	name = Mitchell Solomon
	email = 39250034+mitchellsolomon@users.noreply.github.com
[core]
	editor = code
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	ignorecase = false
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto